* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #596778;
}

.form-register {
    width: 400px;
    /**/
    background: white;
    padding: 30px;
    margin: auto;
    margin-top: 150px;
    border-radius: 4px;
    font-family: 'calibri';
    color: #aaa;
    box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    /*que ocupen el 100% del campo*/
    background: #dfe1e2;
    padding: 10px;
    /*grosor de los campos*/
    border-radius: 10px;
    margin-bottom: 25px;
    border: 1px solid #f0776c;
    font-family: 'calibri';
    font-size: 18px;
    color: rgb(20, 21, 22);
}

.form-register .botons {
    width: 100%;
    background: #f0776c;
    border: none;
    padding: 12px;
    color: aliceblue;
    margin: 16px 0;
    font-size: 16px;
}